<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html'; charset='UTF-8'/>
  </head>
  <body>
    Un posible cliente desea contactar con usted por el correo <%= @correo %></br>
    nombre = <%=  @nombre %></br>
    mensaje = <%=  @mensaje %>
  </body>
</html>
