<!DOCTYPE HTML>
<!--
    Landed by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
  -->
<html>
  <head>
    <title>Landed by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="/assets/javascripts/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/stylesheets/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="/assets/stylesheets/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/assets/stylesheets/ie8.css" /><![endif]-->
  </head>
  <body class="landing">
    <div id="page-wrapper">

      <!-- Header -->
      <header id="header">
	<h1 id="logo"><a href="index.html">Identification laboratory</a></h1>
	<nav id="nav">
	  <ul>
	    <li><a href="index.html">Home</a></li>
	    <li>
	      <a href="#">Layouts</a>
	      <ul>
		<li><a href="left-sidebar.html">Left Sidebar</a></li>
		<li><a href="right-sidebar.html">Right Sidebar</a></li>
		<li><a href="no-sidebar.html">No Sidebar</a></li>
		<li>
		  <a href="#">Submenu</a>
		  <ul>
		    <li><a href="#">Option 1</a></li>
		    <li><a href="#">Option 2</a></li>
		    <li><a href="#">Option 3</a></li>
		    <li><a href="#">Option 4</a></li>
		  </ul>
		</li>
	      </ul>
	    </li>
	    <li><a href="elements.html">Elements</a></li>
	    <li><a href="#" class="button special">Sign Up</a></li>
	  </ul>
	</nav>
      </header>

      <!-- Banner -->
      <section id="banner">
	<div class="content">
	  <header>
	    <h2>Estrategias a medida de nuestros clientes</h2>
	    <p>And there are no hoverboards or flying cars.<br />
	      Just apps. Lots of mother flipping apps.</p>
	  </header>
	  <span class="image"><%= image_tag("logo3.png", :alt => "No disponible") %></span>
	</div>
	<a href="#one" class="goto-next scrolly">Next</a>
      </section>

      <!-- One -->
      <section id="one" class="spotlight style1 bottom">
	<span class="image fit main">	  <%= image_tag("logo.jpg", :alt => "No disponible") %></span>
</span>
	<div class="content">
	  <div class="container">
	    <div class="row">
	      <div class="4u 12u$(medium)">
		<header>
		  <h2>Odio faucibus ipsum integer consequat</h2>
		  <p>Nascetur eu nibh vestibulum amet gravida nascetur praesent</p>
		</header>
	      </div>
	      <div class="4u 12u$(medium)">
		<p>Id Lab es una agencia de publicidad integral que ofrece soluciones estratégicas pensadas y desarrolladas a través de actividades de comunicación y diseño vanguardista, logrando optimizar recursos, ofreciendo la seguridad y el acompañamiento necesario para que puedan continuar  con sus labores y así poder guiarlos al éxito comercial y empresarial.
</p>
	      </div>
	      <div class="4u$ 12u$(medium)">
		<p>En Id Lab garantizamos el cumplimiento de nuestros servicios con el desarrollo de estrategias de comunicación corporativa, altos estándares de calidad y pactos de entrega oportuna, ajustadas a sus necesidades y diseñadas según los requerimientos de nuestros clientes. Para esto, contamos con profesionales calificados y con gran trayectoria laboral que promueven el desarrollo de estrategias que faciliten el correcto funcionamiento de su compañía.</p>
	      </div>
	    </div>
	  </div>
	</div>
	<a href="#two" class="goto-next scrolly">Next</a>
      </section>

      <!-- Two -->
      <section id="two" class="spotlight style2 right">
	<span class="image fit main">	  <%= image_tag("logo.jpg", :alt => "No disponible") %></span>
</span>
	<div class="content">
	  <header>
	    <h2>Misión</h2>
	    
	  </header>
	  <p>Somos una agencia de Marketing y Publicidad, creada y conformada para generar ideas innovadoras por medio de estrategias generadas para que su empresa se posicione en el mercado. Nuestras principales metas nos llevan a diario a posicionar a nuestros clientes dentro de un mercado tan competitivo.
Generamos una identidad corporativa, que nos permite brindar los mejores beneficios de crecimiento e inversión, es así como logramos que nuestras marcas ocupen los primeros lugares con un modelo de comunicación único en el mercado.
</p>
	  
	</div>
	<a href="#three" class="goto-next scrolly">Next</a>
      </section>

      <!-- Three -->
      <section id="three" class="spotlight style3 left">
	<span class="image fit main bottom"><%= image_tag("pic04.jpg", :alt => "No disponible") %></span>
	<div class="content">
	  <header>
	    <h2>Visión</h2>
	    
	  </header>
	  <p>Id Lab se proyecta para el 2016 como una agencia de Publicidad y Marketing, que genera nuevos lenguajes y medios de comunicación, ampliando su cobertura a nivel internacional, llegando así a cambiar y mejorar muchos métodos que actualmente se trabajan en el medio. Evolucionamos para convertirnos en una de las mejores agencias, no solo por nuestro talento humano, sino porque creemos que con todas las marcas podemos generar cambios que marquen, nuevas tendencias en un mercado.
</p>
	  
	</div>
	<a href="#four" class="goto-next scrolly">Next</a>
      </section>

      <!-- Four -->
      <section id="four" class="wrapper style1 special fade-up">
	<div class="container">
	  <header class="major">
	    <h2>Accumsan sed tempus adipiscing blandit</h2>
	    <p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p>
	  </header>
	  <div class="box alt">
	    <div class="row uniform">
	      <section class="4u 6u(medium) 12u$(xsmall)">
		<span class="icon alt major fa-area-chart"></span>
		<h3>Ipsum sed commodo</h3>
		<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
	      </section>
	      <section class="4u 6u$(medium) 12u$(xsmall)">
		<span class="icon alt major fa-comment"></span>
		<h3>Eleifend lorem ornare</h3>
		<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
	      </section>
	      <section class="4u$ 6u(medium) 12u$(xsmall)">
		<span class="icon alt major fa-flask"></span>
		<h3>Cubilia cep lobortis</h3>
		<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
	      </section>
	      <section class="4u 6u$(medium) 12u$(xsmall)">
		<span class="icon alt major fa-paper-plane"></span>
		<h3>Non semper interdum</h3>
		<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
	      </section>
	      <section class="4u 6u(medium) 12u$(xsmall)">
		<span class="icon alt major fa-file"></span>
		<h3>Odio laoreet accumsan</h3>
		<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
	      </section>
	      <section class="4u$ 6u$(medium) 12u$(xsmall)">
		<span class="icon alt major fa-lock"></span>
		<h3>Massa arcu accumsan</h3>
		<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
	      </section>
	    </div>
	  </div>
	  <footer class="major">
	    <ul class="actions">
	      <li><a href="#" class="button">Magna sed feugiat</a></li>
	    </ul>
	  </footer>
	</div>
      </section>

      <!-- Five -->
      <section id="five" class="wrapper style2 special fade">
	<div class="container">
	  <header>
	    <h2>Magna faucibus lorem diam</h2>
	    <p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
	  </header>
	  <form method="post" action="#" class="container 50%">
	    <div class="row uniform 50%">
	      <div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
	      <div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>
	    </div>
	  </form>
	</div>
      </section>

      <!-- Footer -->
      <footer id="footer">
	<ul class="icons">
	  <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
	  <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
	  <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
	  <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
	  <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
	  <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
	</ul>
	<ul class="copyright">
	  <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
	</ul>
      </footer>

    </div>
  </body>
  </html>
